In [1]:
a = [1,3,5,7,8]
b = [3,5,8,1,5]
c=0
for i in range(len(a)):
    c=c+(a[i]*b[i])

In [2]:
c

105

In [3]:
import numpy as np

In [4]:
from math import e

In [5]:
e

2.718281828459045

In [6]:
x=10
y=1/(1+np.exp(-x))
y

0.9999546021312976

In [7]:
import pandas as pd
df1=pd.read_csv('Social_Network_Ads.csv')

In [8]:
df1=df1.drop('User ID',axis=1)

In [9]:
df1

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [10]:
from sklearn import preprocessing

# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

# Encode labels in column 'species'.
df1['Gender']= label_encoder.fit_transform(df1['Gender'])

In [11]:
df1

     Gender  Age  EstimatedSalary  Purchased
0         1   19            19000          0
1         1   35            20000          0
2         0   26            43000          0
3         0   27            57000          0
4         1   19            76000          0
..      ...  ...              ...        ...
395       0   46            41000          1
396       1   51            23000          1
397       0   50            20000          1
398       1   36            33000          0
399       0   49            36000          1

[400 rows x 4 columns]

In [12]:
X=df1[['Gender','Age','EstimatedSalary']]
Y=df1['Purchased']
X

     Gender  Age  EstimatedSalary
0         1   19            19000
1         1   35            20000
2         0   26            43000
3         0   27            57000
4         1   19            76000
..      ...  ...              ...
395       0   46            41000
396       1   51            23000
397       0   50            20000
398       1   36            33000
399       0   49            36000

[400 rows x 3 columns]

In [13]:
from sklearn.model_selection import train_test_split

X_train1, X_test1, y_train1, y_test1 = train_test_split(X, Y,test_size=0.2,random_state = 0)

In [14]:
len(X)==len(Y)

True

In [60]:

from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(penalty='l1',C=10**2,solver='liblinear')
clf.fit(X_train1,y_train1)
pre=clf.predict(X_test1)
pre

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1], dtype=int64)

In [61]:
from sklearn.metrics import confusion_matrix, accuracy_score
accuracy_score(y_test1,pre)

0.925

In [31]:
len(pre)

80

In [19]:
len(X)

400

Day 22

In [49]:
C = [-6,-5,-4,-3,-2,-1,0,1,2,3,4,5,6]
penalties = ['l1', 'l2']

for i in range(len(C)):
    for j in range(len(penalties)):
        clf = LogisticRegression(penalty=penalties[j], C=10**C[i], solver='liblinear')
        clf.fit(X_train1, y_train1)
        pre = clf.predict(X_test1)
        
        acc = accuracy_score(y_test1, pre)
        print(f"Accuracy for C={C[i]}, penalty={penalties[j]}: {acc}")
print(Accuracy)

Accuracy for C=-6, penalty=l1: 0.725
Accuracy for C=-6, penalty=l2: 0.725
Accuracy for C=-5, penalty=l1: 0.725
Accuracy for C=-5, penalty=l2: 0.725
Accuracy for C=-4, penalty=l1: 0.725
Accuracy for C=-4, penalty=l2: 0.725
Accuracy for C=-3, penalty=l1: 0.725
Accuracy for C=-3, penalty=l2: 0.7375
Accuracy for C=-2, penalty=l1: 0.725
Accuracy for C=-2, penalty=l2: 0.7625
Accuracy for C=-1, penalty=l1: 0.925
Accuracy for C=-1, penalty=l2: 0.825
Accuracy for C=0, penalty=l1: 0.925
Accuracy for C=0, penalty=l2: 0.7875
Accuracy for C=1, penalty=l1: 0.925
Accuracy for C=1, penalty=l2: 0.9125
Accuracy for C=2, penalty=l1: 0.925
Accuracy for C=2, penalty=l2: 0.9125
Accuracy for C=3, penalty=l1: 0.9125
Accuracy for C=3, penalty=l2: 0.9125
Accuracy for C=4, penalty=l1: 0.9125
Accuracy for C=4, penalty=l2: 0.9125
Accuracy for C=5, penalty=l1: 0.925
Accuracy for C=5, penalty=l2: 0.9125
Accuracy for C=6, penalty=l1: 0.9125
Accuracy for C=6, penalty=l2: 0.9125

In [51]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()

In [53]:
X[["Age"]] = scaler.fit_transform(X[["Age"]])

C:\Users\parth\AppData\Local\Temp\ipykernel_19800\3714000637.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[["Age"]] = scaler.fit_transform(X[["Age"]])

In [57]:
X[["EstimatedSalary"]] = scaler.fit_transform(X[["EstimatedSalary"]])

C:\Users\parth\AppData\Local\Temp\ipykernel_19800\2040456775.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[["EstimatedSalary"]] = scaler.fit_transform(X[["EstimatedSalary"]])

In [58]:
X

     Gender       Age  EstimatedSalary
0         1  0.023810         0.029630
1         1  0.404762         0.037037
2         0  0.190476         0.207407
3         0  0.214286         0.311111
4         1  0.023810         0.451852
..      ...       ...              ...
395       0  0.666667         0.192593
396       1  0.785714         0.059259
397       0  0.761905         0.037037
398       1  0.428571         0.133333
399       0  0.738095         0.155556

[400 rows x 3 columns]

In [85]:
C = [-6,-5,-4,-3,-2,-1,0,1,2,3,4,5,6]
penalties = ['l1', 'l2']
max_iter_lst = [10,50,100,500]
a=[]
for i in range(len(C)):
    for j in range(len(penalties)):
        for k in range(len(max_iter_lst)):
            clf = LogisticRegression(penalty=penalties[j], C=10**C[i], solver='liblinear')
            clf.fit(X_train1, y_train1)
            pre = clf.predict(X_test1)

            acc = accuracy_score(y_test1, pre)
            a.append(acc)
            print(f"Accuracy for C={C[i]}, penalty={penalties[j]}: ")
print(f"The max value is:{max(a)}")

Accuracy for C=-6, penalty=l1:
Accuracy for C=-6, penalty=l1:
Accuracy for C=-6, penalty=l1:
Accuracy for C=-6, penalty=l1:
Accuracy for C=-6, penalty=l2:
Accuracy for C=-6, penalty=l2:
Accuracy for C=-6, penalty=l2:
Accuracy for C=-6, penalty=l2:
Accuracy for C=-5, penalty=l1:
Accuracy for C=-5, penalty=l1:
Accuracy for C=-5, penalty=l1:
Accuracy for C=-5, penalty=l1:
Accuracy for C=-5, penalty=l2:
Accuracy for C=-5, penalty=l2:
Accuracy for C=-5, penalty=l2:
Accuracy for C=-5, penalty=l2:
Accuracy for C=-4, penalty=l1:
Accuracy for C=-4, penalty=l1:
Accuracy for C=-4, penalty=l1:
Accuracy for C=-4, penalty=l1:
Accuracy for C=-4, penalty=l2:
Accuracy for C=-4, penalty=l2:
Accuracy for C=-4, penalty=l2:
Accuracy for C=-4, penalty=l2:
Accuracy for C=-3, penalty=l1:
Accuracy for C=-3, penalty=l1:
Accuracy for C=-3, penalty=l1:
Accuracy for C=-3, penalty=l1:
Accuracy for C=-3, penalty=l2:
Accuracy for C=-3, penalty=l2:
Accuracy for C=-3, penalty=l2:
Accuracy for C=-3, penalty=l2:
Accuracy for C=-2, penalty=l1:
Accuracy for C=-2, penalty=l1:
Accuracy for C=-2, penalty=l1:
Accuracy for C=-2, penalty=l1:
Accuracy for C=-2, penalty=l2:
Accuracy for C=-2, penalty=l2:
Accuracy for C=-2, penalty=l2:
Accuracy for C=-2, penalty=l2:
Accuracy for C=-1, penalty=l1:
Accuracy for C=-1, penalty=l1:
Accuracy for C=-1, penalty=l1:
Accuracy for C=-1, penalty=l1:
Accuracy for C=-1, penalty=l2:
Accuracy for C=-1, penalty=l2:
Accuracy for C=-1, penalty=l2:
Accuracy for C=-1, penalty=l2:
Accuracy for C=0, penalty=l1:
Accuracy for C=0, penalty=l1:
Accuracy for C=0, penalty=l1:
Accuracy for C=0, penalty=l1:
Accuracy for C=0, penalty=l2:
Accuracy for C=0, penalty=l2:
Accuracy for C=0, penalty=l2:
Accuracy for C=0, penalty=l2:
Accuracy for C=1, penalty=l1:
Accuracy for C=1, penalty=l1:
Accuracy for C=1, penalty=l1:
Accuracy for C=1, penalty=l1:
Accuracy for C=1, penalty=l2:
Accuracy for C=1, penalty=l2:
Accuracy for C=1, penalty=l2:
Accuracy for C=1, penalty=l2:
Accuracy for C=2, penalty=l1:
Accuracy for C=2, penalty=l1:
Accuracy for C=2, penalty=l1:
Accuracy for C=2, penalty=l1:
Accuracy for C=2, penalty=l2:
Accuracy for C=2, penalty=l2:
Accuracy for C=2, penalty=l2:
Accuracy for C=2, penalty=l2:
Accuracy for C=3, penalty=l1:
Accuracy for C=3, penalty=l1:
Accuracy for C=3, penalty=l1:
Accuracy for C=3, penalty=l1:
Accuracy for C=3, penalty=l2:
Accuracy for C=3, penalty=l2:
Accuracy for C=3, penalty=l2:
Accuracy for C=3, penalty=l2:
Accuracy for C=4, penalty=l1:
Accuracy for C=4, penalty=l1:
Accuracy for C=4, penalty=l1:
Accuracy for C=4, penalty=l1:
Accuracy for C=4, penalty=l2:
Accuracy for C=4, penalty=l2:
Accuracy for C=4, penalty=l2:
Accuracy for C=4, penalty=l2:
Accuracy for C=5, penalty=l1:
Accuracy for C=5, penalty=l1:
Accuracy for C=5, penalty=l1:
Accuracy for C=5, penalty=l1:
Accuracy for C=5, penalty=l2:
Accuracy for C=5, penalty=l2:
Accuracy for C=5, penalty=l2:
Accuracy for C=5, penalty=l2:
Accuracy for C=6, penalty=l1:
Accuracy for C=6, penalty=l1:
Accuracy for C=6, penalty=l1:
Accuracy for C=6, penalty=l1:
Accuracy for C=6, penalty=l2:
Accuracy for C=6, penalty=l2:
Accuracy for C=6, penalty=l2:
Accuracy for C=6, penalty=l2:
The max value is:0.925