#(1) Load data
#(2) Data cleaning
#(3) Exploratory Data analysis
#(4) Feature engineering

#Data Modeling

In [1]:
import pandas  as pd

In [2]:
df = pd.read_csv('heart.csv')

In [3]:
df.head()

,age,gender,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37.0,1.0,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41.0,0.0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56.0,1.0,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57.0,0.0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
X = df[['age'	,'gender',	'cp'	,'trestbps',	'chol'	,'fbs'	,'restecg'	,'thalach'	,'exang'	,'oldpeak'	,'slope',	'ca',	'thal']]

In [6]:
Y = df['target']

In [7]:
len(X) == len(Y)

True

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [10]:
len(X_train)/len(X)

0.7986798679867987

In [11]:
len(y_test)/len(Y)

0.20132013201320131