In [ ]:
import pandas as pd
  
import numpy as np
  
# dictionary of lists
dict1 = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, np.nan, 45, 56],
        'Third Score':[52, 40, 80, 98],
        'Fourth Score':[np.nan, np.nan, np.nan, 65]}

In [ ]:
dict1

{'First Score': [100, 90, nan, 95],
 'Second Score': [30, nan, 45, 56],
 'Third Score': [52, 40, 80, 98],
 'Fourth Score': [nan, nan, nan, 65]}

In [ ]:
df = pd.DataFrame(dict1)

In [ ]:
df

   First Score  Second Score  Third Score  Fourth Score
0        100.0          30.0           52           NaN
1         90.0           NaN           40           NaN
2          NaN          45.0           80           NaN
3         95.0          56.0           98          65.0

In [ ]:
df.isna().mean()

First Score     0.25
Second Score    0.25
Third Score     0.00
Fourth Score    0.75
dtype: float64

# If the percentage null of perticular column is more than 60 - 70 % in that case we can ignore that column

In [ ]:
del df['Fourth Score']

In [ ]:
df

   First Score  Second Score  Third Score
0        100.0          30.0           52
1         90.0           NaN           40
2          NaN          45.0           80
3         95.0          56.0           98

# If the column contains 5 - 10 % null values we can remove that rows.

In [ ]:
df = df.dropna(subset = ['First Score','Second Score'])

In [ ]:
df

   First Score  Second Score  Third Score
0        100.0          30.0           52
3         95.0          56.0           98

In [ ]:
df2 = pd.read_excel('FinancialSample.xlsx','Sheet1')

In [ ]:
df2.isna().sum()

Segment                  0
Country                  0
Product                  9
Discount Band            0
Units Sold              36
Manufacturing Price      0
Sale Price               0
Gross Sales              0
Discounts                0
 Sales                   0
COGS                    28
Profit                 137
Date                    14
Month Number             0
Month Name               0
Year                     0
dtype: int64

In [ ]:
del df2['Profit'],df2['COGS']

# Instead of removing rows of null values we can fill the values

#(1) Numerical columns

In [ ]:
#df2['Units Sold']  = df2['Units Sold'].fillna(400)

In [ ]:
x = df2['Units Sold'].mean()

In [ ]:
df2['Units Sold']  = df2['Units Sold'].fillna(x)

In [ ]:
df2.isna().sum()

Segment                 0
Country                 0
Product                 9
Discount Band           0
Units Sold              0
Manufacturing Price     0
Sale Price              0
Gross Sales             0
Discounts               0
 Sales                  0
Date                   14
Month Number            0
Month Name              0
Year                    0
dtype: int64

#Categorical Column

In [ ]:
df2['Product'].value_counts()

Paseo        202
Velo         109
VTT          109
Amarilla      94
Montana       92
Carretera     85
Name: Product, dtype: int64

In [ ]:
df2['Product'] = df2['Product'].fillna('Paseo')

In [ ]:
#df2['New_Productname'] = df2['Product'].fillna('Paseo')