#Read csv

In [ ]:
df=pd.read_csv('california_housing_test.csv')

#Show First 5 rows

In [ ]:
df.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27,3885.0,661.0,1537,606,6.6085,344700
1,-118.30,34.26,43,1510.0,310.0,809,277,3.5990,176500
2,-117.81,33.78,27,3589.0,507.0,1484,495,5.7934,270500
3,-118.36,33.82,28,67.0,15.0,49,11,6.1359,330000
4,-119.67,36.33,19,1241.0,244.0,850,237,2.9375,81700

#Show Last 10 Rows

In [ ]:
df.tail(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2990,NaN,34.09,49,1638.0,456.0,1500,430,2.6923,150000
2991,NaN,34.28,13,4867.0,718.0,780,250,7.1997,253800
2992,NaN,37.39,52,573.0,102.0,232,92,6.2263,500001
2993,NaN,33.60,37,2088.0,510.0,673,390,5.1048,500001
2994,NaN,33.86,35,931.0,181.0,516,174,5.5867,182500
2995,NaN,34.42,23,1450.0,642.0,1258,607,1.1790,225000
2996,NaN,34.06,27,5257.0,1082.0,3496,1036,3.3906,237200
2997,-119.70,36.30,10,956.0,201.0,693,220,2.2895,62000
2998,-117.12,34.10,40,96.0,14.0,46,14,3.2708,162500
2999,-119.63,34.42,42,1765.0,263.0,753,260,8.5608,500001

#Store all columnnames in variable cl as list Total Columns

In [ ]:
cl=df.columns
cl

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

#Show datatype of all columns

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           9 non-null      float64
 1   latitude            2993 non-null   float64
 2   housing_median_age  3000 non-null   int64
 3   total_rooms         2988 non-null   float64
 4   total_bedrooms      2995 non-null   float64
 5   population          3000 non-null   int64
 6   households          3000 non-null   int64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   int64
dtypes: float64(5), int64(4)
memory usage: 211.1 KB

#Print total null in percentage for all columns

In [ ]:
df.isna().mean()

longitude             0.997000
latitude              0.002333
housing_median_age    0.000000
total_rooms           0.004000
total_bedrooms        0.001667
population            0.000000
households            0.000000
median_income         0.000000
median_house_value    0.000000
dtype: float64

#Print total null in Count for all columns

In [ ]:
df.isna().sum()

longitude             2991
latitude                 7
housing_median_age       0
total_rooms             12
total_bedrooms           5
population               0
households               0
median_income            0
median_house_value       0
dtype: int64

#Delete column which have too many nulls

In [ ]:
del df['longitude']

In [ ]:
df

,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,37.37,27,3885.0,661.0,1537,606,6.6085,344700
1,34.26,43,1510.0,310.0,809,277,3.5990,176500
2,33.78,27,3589.0,507.0,1484,495,5.7934,270500
3,33.82,28,67.0,15.0,49,11,6.1359,330000
4,36.33,19,1241.0,244.0,850,237,2.9375,81700
...,...,...,...,...,...,...,...,...
2995,34.42,23,1450.0,642.0,1258,607,1.1790,225000
2996,34.06,27,5257.0,1082.0,3496,1036,3.3906,237200
2997,36.30,10,956.0,201.0,693,220,2.2895,62000
2998,34.10,40,96.0,14.0,46,14,3.2708,162500
2999,34.42,42,1765.0,263.0,753,260,8.5608,500001

#Print total null in percentage for all columns

In [ ]:
df.isna().mean()

latitude              0.002333
housing_median_age    0.000000
total_rooms           0.004000
total_bedrooms        0.001667
population            0.000000
households            0.000000
median_income         0.000000
median_house_value    0.000000
dtype: float64

#Removing Null value Rows of total_rooms column

In [ ]:
df=df.dropna(subset=["total_rooms"])

In [ ]:
df.isna().mean()

latitude              0.002343
housing_median_age    0.000000
total_rooms           0.000000
total_bedrooms        0.001673
population            0.000000
households            0.000000
median_income         0.000000
median_house_value    0.000000
dtype: float64

In [ ]:
df=df.reset_index(drop=True)

#Filling the null values of latitutde column with mean

In [ ]:
mean=df['latitude'].mean()
df['latitude']=df['latitude'].fillna(mean)

In [ ]:
df.isna().mean()

latitude              0.000000
housing_median_age    0.000000
total_rooms           0.000000
total_bedrooms        0.001673
population            0.000000
households            0.000000
median_income         0.000000
median_house_value    0.000000
dtype: float64

#Filling null values of total_bedrooms column with median

In [ ]:
df['total_bedrooms']=df['total_bedrooms'].fillna(df['total_bedrooms'].median())

In [ ]:
df.isna().mean()

latitude              0.0
housing_median_age    0.0
total_rooms           0.0
total_bedrooms        0.0
population            0.0
households            0.0
median_income         0.0
median_house_value    0.0
dtype: float64

#Filter data where population should be less than of its average

In [ ]:
df[df['population']<(df['population'].mean())]

,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1,34.260000,43,1510.0,310.0,809,277,3.5990,176500
3,33.820000,28,67.0,15.0,49,11,6.1359,330000
4,36.330000,19,1241.0,244.0,850,237,2.9375,81700
5,36.510000,37,1018.0,213.0,663,204,1.6635,67000
6,35.632603,43,1009.0,225.0,604,218,1.6641,67000
...,...,...,...,...,...,...,...,...
2982,33.860000,35,931.0,181.0,516,174,5.5867,182500
2983,34.420000,23,1450.0,642.0,1258,607,1.1790,225000
2985,36.300000,10,956.0,201.0,693,220,2.2895,62000
2986,34.100000,40,96.0,14.0,46,14,3.2708,162500
2987,34.420000,42,1765.0,263.0,753,260,8.5608,500001

#Create new dataframe 'new_df' that contains 2 columns 'total_bedrooms','population' and top 20 rows only

In [ ]:
new_df=df[['total_bedrooms','population']].head(20)
new_df

    total_bedrooms  population
0            661.0        1537
1            310.0         809
2            507.0        1484
3             15.0          49
4            244.0         850
5            213.0         663
6            225.0         604
7            471.0        1341
8            617.0        1446
9            632.0        2830
10           249.0        1288
11           166.0         564
12           182.0         535
13           694.0        1935
14          1030.0        2259
15           418.0        1030
16          1609.0        3751
17           954.0        1561
18           220.0         568
19           493.0        1530

#Create dictionary from dataframe where key is 'total_bedrooms' and value is 'population'

In [ ]:
dict1=new_df.set_index('population')['total_bedrooms'].to_dict()
dict1

{1537: 661.0,
 809: 310.0,
 1484: 507.0,
 49: 15.0,
 850: 244.0,
 663: 213.0,
 604: 225.0,
 1341: 471.0,
 1446: 617.0,
 2830: 632.0,
 1288: 249.0,
 564: 166.0,
 535: 182.0,
 1935: 694.0,
 2259: 1030.0,
 1030: 418.0,
 3751: 1609.0,
 1561: 954.0,
 568: 220.0,
 1530: 493.0}